<div>
  <span>{{ current.city}}, {{current.country}}</span>
  <span>{{current.date | date:'fullDate'}}</span>
</div>
<div>
  <img [src]='current.image' alt="weather" width='35px'>
  <span>{{current.temperature | number:'1.0-0'}} ºF</span>
</div>
<div>
  {{ current.description}}
</div>
